/* ------- Custom Properties ------- */

:root{
    --black: #000000;
    --white: #ffffff;
}



/* ------- Custom Fonts ------- */




/* ------- Class Rules ------- */

.class{
    color: black;
}



/* ------- ID Rules ------- */

#id{
    color: white;
}



/* ------- Media Queries ------- */

@media screen and (orientation:portrait) {   
    
    #landscape_warning{
        display: none;
    }

    main{
        display: flex;
    }
}

@media screen and (orientation:landscape) {
    #landscape_warning{
        display: block;
        position: absolute;
    }

    main{
        display: none;
    }

}