/* ------- Custom Properties ------- */

:root{
    --background_color: #d5daf7;
    --inactive: #d5daf7;
    --primary_accent: #00255D; /*5486A2*/
    --seconary-accent: #9253c6;
    --tertiary_accent: #dc2e63;
    --white: #ffffff;
}

/* ---------- Custom Font Declarations ---------- */

/* Poppins 300 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v19-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins 300 – Italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    src: url('fonts/poppins-v19-latin-300italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-300italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-300italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins Regular */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins Italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/poppins-v19-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins 500 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v19-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins 500 – Italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/poppins-v19-latin-500italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-500italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-500italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins 600 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v19-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* Poppins 600 - Italic */
@font-face {
         font-family: 'Poppins';
         font-style: italic;
         font-weight: 600;
         src: url('../fonts/poppins-v19-latin-600italic.eot'); /* IE9 Compat Modes */
         src: local(''),
              url('../fonts/poppins-v19-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
              url('../fonts/poppins-v19-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
              url('../fonts/poppins-v19-latin-600italic.woff') format('woff'), /* Modern Browsers */
              url('../fonts/poppins-v19-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
              url('../fonts/poppins-v19-latin-600italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins 700 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v19-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins 700 - Italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/poppins-v19-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
     
/* Poppins 800 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v19-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
  
/* Poppins 800 - Italic */
@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/poppins-v19-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v19-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v19-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v19-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v19-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v19-latin-800italic.svg#Poppins') format('svg'); /* Legacy iOS */
}



/* ------- Element Selectors ------- */

body{
    background-color: var(--background_color);
    bottom: 0;
    color: var(--primary_accent);
    font-family: 'Poppins';
    font-size: 1em;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
}

nav{
    align-items: center;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 10em auto 10em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

nav button{
    background: var(--primary_accent);
    border: none;
    color: var(--white);
    cursor: pointer;
    margin: 1em;
    width: 8em;
}

progress{
    background-color: var(--white);
    border-radius: .5em;
    border: none;
    color: var(--primary_accent);
    height: 2em;
    width: 100%;
} 

progress[value] {
     appearance: none;
    -webkit-appearance: none;
}

/* Safari Compability */
  
progress::-webkit-progress-bar {
    background: var(--primary_accent);
}

progress[value]::-webkit-progress-bar {
    background-color: var(--white);
    border-radius: .5em;
}

progress::-webkit-progress-value {
    background: var(--primary_accent);
}

progress[value]::-webkit-progress-value {
    background-color: var(--primary_accent);
    border-radius: .5em; 
}

/* Firefox Compatability */

progress::-moz-progress-bar {
    background: var(--primary_accent);
}
 


/* ------- Help Section ------- */

#help{
    align-items: center;
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100vw;
    z-index: 10;
}

.help_text{
    width: 80%;
}

.help_text h2{
    text-align: center;
}



/* ------- List Creation ------- */

.create_list{
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 100vw;
    min-height: -webkit-fill-available;
    min-height: 100vh;
    position: absolute;
}

.create_list_preview{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    width: 100vw;
}

#create_list_preview_items{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 3em;
}

.create_list_preview_items_data{
    margin-bottom: 0;
    margin-top: auto;
    padding-bottom: 6.25em;
    padding-left: 2em;
    padding-top: 2em;
}

.create_list_preview_items_data_unit{
    align-items: center;
    background-color: #ffffff;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
    margin: .5em .5em .5em -1.5em;
    padding: .75em;
}

.create_list_preview_items_data_unit_delete{
    align-items: center;
    background-color: var(--white);
    border-radius: .25em;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 2em;
    justify-content: center;
    padding: 1em;
    width: 2em;
}

.create_list_preview_items_data_unit_text{
    font-weight: bold;
    overflow-wrap: break-word;
    width: 80%;
}

#create_list_start_vote_form{
    align-items: center;
    background-color: var(--white);
    display: flex;
    justify-content: right;
    width: 100%;
}

#create_list_start_vote_form_submit_disabled{
    background-color: var(--inactive);
    color: var(--white);
}

#create_list_start_vote_form_submit_disabled:hover{
    cursor: not-allowed;
}

#create_list_start_vote_form_submit_enabled{
    text-align: center;
}

.create_list_textbox{
    align-items: center;
    background-color: var(--white);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1em;
    position: fixed;
    width: 100%;
}

#create_list_textbox_form{
    align-items: center;
    background-color: var(--white);
    color: var(--primary_accent);
    display: flex;
    justify-content: center;
    width: 100%;
}

#create_list_textbox_form_input_id{
    border-radius: 5em;
    border: 2px solid var(--inactive);  
    color: var(--primary_accent);
    margin: 1em .5em 1em .5em;
    padding: .75em;
    width: 100%;
}

#create_list_welcome_message{
    align-items: center;
    bottom: 0;
    color: var(--primary_accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    text-align: center;
    width: 80vw;
}

#create_list_welcome_message_version_number{
    font-weight: bold;
    margin-bottom: 1.25em;
    margin-top: -.75em;
    margin: 0;
}



/* ------- Voting Screen ------- */

.vote{
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.vote_main{
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
}

#vote_main_inputs{
    align-items: center;
    display: flex;
    justify-content: center;
}

.vote_main_inputs_dynamic{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1em

}

.vote_main_inputs_dynamic_button{
    background-color: var(--white);
    border-radius: .5em;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-size: 1.5em;
    font-weight: bold;
    height: 33vh;
    margin: .25em;
    padding: .25em;
    white-space: normal;
    width: 100%;
    word-wrap: break-word;
}

.vote_main_inputs_dynamic_button:hover{
    cursor: pointer;
}

.vote_main_progress{
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-top: 6em;
}

.vote_main_progress_status{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vote_restart{
    background-color: var(--tertiary_accent);
}

#vote_results_disabled{
    background-color: var(--inactive);
    color: var(--primary_accent);
}

#vote_results_disabled:hover{
    cursor: not-allowed;
}



/* ------- Results Screen ------- */

#results{
    background-color: var(--background_color);
    flex-direction: column;
    min-height: -webkit-fill-available;
    min-height: 100vh;
    overflow: scroll;
    position: absolute;
    width: 100vw;
} 

.results_main{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
    overflow: scroll;
    padding-bottom: 5em;
    padding-top: 5em;
}

.results_main_data{
    margin: .5em;
    width: 95%;
}

#results_main_data_list{
    display: flex;
    flex-direction: column;
}

.results_main_data_list_item{
    align-items: center;
    background-color: var(--white);
    border-radius: .5em;
    display: grid;
    grid-template-columns: 4em auto 5em;
    margin-top: .25em;
    padding: .50em;
}

.results_main_data_list_item p{
    margin: 0;
}

.results_main_data_list_item_place{
    color: var(--tertiary_accent);
    font-weight: bold;
    padding-left: .25em;
    text-align: center;
}

.results_main_data_list_item_name{
    font-weight: bold;
    padding-right: .5em;
}

.results_main_data_list_item_score{
    background-color: var(--primary_accent);
    border-radius: .5em;
    color: var(--white);
    font-weight: 600;
    padding: .5em;
    text-align: center;
}

#results_main_data_list_header_score{
    text-align: center;
}

#results_main_data_list_header{
    background-color: var(--background_color);
    color: var(--primary_accent);
    font-weight: bold;
}

.results_main_favorite{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    margin-top: 2em;
}

#results_main_favorite_name{
    font-size: 3em;
    font-weight: bold;
    margin: .5em;
    text-align: center;
}


/* ------- Misc. Rules ------- */

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.75em;
}

.standard_button{
    border-radius: 5em;
    border: none;
    background-color: var(--primary_accent);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: .75em;
}


/* ------- Media Queries ------- */

@media screen and (orientation:portrait) {   

    #landscape_warning{
        display: none;
    }

}

@media screen and (orientation:landscape) {
    #landscape_warning{
        align-items: center;
        background-color: var(--background_color);
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        position: absolute;
        width: 100vw;
        z-index: 10;
    }
}
